<div class="container">
  <div class="row" style="padding-bottom: 10px">
    <div class="col-12">
      <div style="font-size: x-large">Donation Partner</div>
    </div>
    <div class="row text-center" style="padding-top: 65px">
      <div class="col-2"></div>
      <div class="col-8">
        Click button Below to our Donation Partner webpage.<br /><br />
        <button
          (click)="donate()"
          class="btn"
          style="
            border: #e60100 solid 1px;
            background-color: #e60100;
            width: 150px;
            color: white;
            margin-bottom: 10px;
          "
        >
          Let's Go
        </button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
