<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="font-size: xx-large">Check-in</div>
    </div>
  </div>
  <br />
  <div *ngIf="rsvp">
    <div class="row" style="padding-bottom: 30px">
      <div class="col-12">
        <span> Guest : {{ rsvp.email }} </span>
      </div>
      <div class="col-12">
        <span> Name : {{ rsvp.firstName }}, {{ rsvp.lastName }} </span>
      </div>
    </div>
    <div class="row" style="padding-top: 20px; color: red" *ngIf="rsvp.checkedIn">
      <div class="col-12">This Guest already Check In.</div>
    </div>
    <div class="row" style="padding-top: 25px">
      <div class="col-12">
        <hr />
        <div
          style="padding-bottom: 15px; padding-top: 15px; text-align: center"
        >
          <button
            (click)="cancel()"
            class="btn btn-danger"
            style="width: 130px; margin-right: 20px"
          >
            Cancel
          </button>
          <button
            [disabled]="rsvp.checkedIn"
            class="btn btn-success"
            (click)="confirm()"
            style="width: 130px"
          >
            Check In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
