<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="font-size: xx-large">Check-in</div>
    </div>
  </div>
  <br />
  <div *ngIf="user">
    <div class="row" style="padding-bottom: 30px">
      <div class="col-12">
        <span style="padding-right: 20px"> Gust Name : {{ user.name }} </span>
        <span>
          <button
            (click)="userAttend($event.target)"
            [ngClass]="
              user.userAvailable == 0
                ? 'btn btn-secondary'
                : user.userAttend == 1
                ? 'btn btn-success'
                : 'btn btn-primary'
            "
            [disabled]="!user.userAvailable"
            style="width: 200px"
          >
            {{ user.userAttend == 1 ? "Attended" : "Check-in" }}
          </button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="padding-bottom: 15px">Accompanying Guest :</div>

        <div
          *ngFor="let num of numOfGuest; let i = index"
          style="padding-bottom: 15px"
        >
          <!-- {{ num }} -->
          <button
            (click)="guestAttend($event.target)"
            [ngClass]="
              user.guestAvailable < i + 1
                ? 'btn btn-secondary'
                : user.guestAttend > i
                ? 'btn btn-success'
                : 'btn btn-primary'
            "
            [disabled]="user.guestAvailable < i + 1 || user.guestAttend < i"
            style="width: 200px"
          >
            {{ user.guestAttend > i ? "Attended" : "Check-in" }}
          </button>
        </div>

        <!-- <div style="padding-bottom: 15px">
        <button
          (click)="guestAttend($event.target)"
          [ngClass]="
            user.guestAvailable < 1
              ? 'btn btn-secondary'
              : user.guestAttend > 0
              ? 'btn btn-success'
              : 'btn btn-primary'
          "
          [disabled]="user.guestAvailable < 1 || user.guestAttend < 0"
          style="width: 200px"
        >
          {{ user.guestAttend > 0 ? "Attended" : "Check-in" }}
        </button>
      </div> -->
        <!-- <div style="padding-bottom: 15px">
        <button
          (click)="guestAttend($event.target)"
          [ngClass]="
            user.guestAvailable < 2
              ? 'btn btn-secondary'
              : user.guestAttend > 1
              ? 'btn btn-success'
              : 'btn btn-primary'
          "
          [disabled]="user.guestAvailable < 2 || user.guestAttend < 1"
          style="width: 200px"
        >
          {{ user.guestAttend > 1 ? "Attended" : "Check-in" }}
        </button>
      </div> -->
        <!-- <div style="padding-bottom: 15px">
        <button
          (click)="guestAttend($event.target)"
          [ngClass]="
            user.guestAvailable < 3
              ? 'btn btn-secondary'
              : user.guestAttend > 2
              ? 'btn btn-success'
              : 'btn btn-primary'
          "
          [disabled]="user.guestAvailable < 3 || user.guestAttend < 2"
          style="width: 200px"
        >
          {{ user.guestAttend > 2 ? "Attended" : "Check-in" }}
        </button>
      </div> -->
      </div>
    </div>
    <div class="row" style="padding-top: 25px">
      <div class="col-12">
        <hr />
        <div
          style="padding-bottom: 15px; padding-top: 15px; text-align: center"
        >
          <button
            [routerLink]="['../scan-qr']"
            class="btn btn-danger"
            style="width: 130px; margin-right: 20px"
          >
            Cancel
          </button>
          <button
            class="btn btn-success"
            (click)="confirm()"
            style="width: 130px"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
