<div class="container">
  <div class="row" style="padding-bottom: 15px">
    <div class="col-12">
      <div style="font-size: x-large">Lucky Draw Quiz</div>
    </div>
  </div>
  <div>
    <div *ngIf="isSubmitted" style="padding-bottom: 15px">
      Congratulations! You've earned a lucky Draw Chance.
      <hr />
    </div>
    <form [formGroup]="addrsvp" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          1. What’s the name of the artist who created our wall murals?
        </div>
        <div class="col-12" style="padding-top: 10px">
          <div class="form-group mainTable">
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="1"
                formControlName="quiz1"
                style="margin-right: 5px"
              />
              Andy Warhol
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="2"
                formControlName="quiz1"
                style="margin-right: 5px"
              />
              Didier Jaba Mathieu
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="3"
                formControlName="quiz1"
                style="margin-right: 5px"
              />
              Pablo Picasso
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="4"
                formControlName="quiz1"
                style="margin-right: 5px"
              />
              John M Armleder
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 25px">
        <div class="col-12">
          2. What are the facilities found on Level 3 of 9PR?<br />
          (Select all that apply)
        </div>
        <div class="col-12">
          <img width="100%" src="../../assets/images/quiz2.png" />
        </div>
        <div class="col-12" style="padding-top: 10px">
          <div class="form-group mainTable">
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="1"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Gym
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="2"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Medical Clinic
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="3"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Mother’s Room
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="4"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Family Room
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="5"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Shower Room
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="6"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Recreation Zone
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="7"
                formControlName="quiz2"
                style="margin-right: 5px"
              />
              Meditation/Multi-Faith Room
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 25px">
        <div class="col-12">
          3. UBS University is found on Level 4 of 9PR. The space consists of
          the following amenities: (select all the apply)
        </div>
        <div class="col-12" style="padding-top: 10px">
          <div class="form-group mainTable">
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="1"
                formControlName="quiz3"
                style="margin-right: 5px"
              />
              Training rooms
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="2"
                formControlName="quiz3"
                style="margin-right: 5px"
              />
              Seminar rooms and breakout spaces
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="3"
                formControlName="quiz3"
                style="margin-right: 5px"
              />
              multi-purpose function rooms
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="checkbox"
                value="4"
                formControlName="quiz3"
                style="margin-right: 5px"
              />
              Fun lego wall
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 25px">
        <div class="col-12">
          4. The Café integrates both Singapore’s ____ heritage and our
          company’s ____ roots to reflect the diversity of our cultures through
          the universal language of food.
        </div>
        <div class="col-12">
          <img width="100%" src="../../assets/images/quiz4.jpeg" />
        </div>
        <div class="col-12" style="padding-top: 10px">
          <div class="form-group mainTable">
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="1"
                formControlName="quiz4"
                style="margin-right: 5px"
              />
              Multi-racial; historical
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="2"
                formControlName="quiz4"
                style="margin-right: 5px"
              />
              Malay; European
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="3"
                formControlName="quiz4"
                style="margin-right: 5px"
              />
              Peranakan; Swiss
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="4"
                formControlName="quiz4"
                style="margin-right: 5px"
              />
              Multi-racial; Swiss
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 25px">
        <div class="col-12">
          5. The mission of the UBS Art Collection is to acquire and maintain
          works of art in the communities where we do business, buying on the
          primary market to directly support artists and galleries.
          <div style="padding-top: 10px">
            What kind of art does UBS collect?
          </div>
        </div>
        <div class="col-12">
          <img width="100%" src="../../assets/images/quiz5.jpeg" />
        </div>
        <div class="col-12" style="padding-top: 10px">
          <div class="form-group mainTable">
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="1"
                formControlName="quiz5"
                style="margin-right: 5px"
              />
              Fine art
            </div>
            <div
              [ngStyle]="
                isSubmitted
                  ? { 'background-color': '#e60100', color: 'white' }
                  : {}
              "
            >
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="2"
                formControlName="quiz5"
                style="margin-right: 5px"
              />
              Contemporary art
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="3"
                formControlName="quiz5"
                style="margin-right: 5px"
              />
              Modern art
            </div>
            <div>
              <input
                (change)="answer()"
                class="radioButton"
                type="radio"
                value="4"
                formControlName="quiz5"
                style="margin-right: 5px"
              />
              Renaissance art
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" style="padding-top: 10px">
        <div class="col-12">
          <button
            *ngIf="showSubmit"
            (click)="scrollToTop()"
            type="submit"
            style="
              background-color: #e60100;
              border-color: #e60100;
              width: 100px;
            "
            class="btn btn-info"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
