<div class="loading-shade" *ngIf="isLoading">
  <div
    class="col s12"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    "
  >
    <span>
      <mat-spinner [diameter]="32" mode="indeterminate"></mat-spinner>
    </span>
  </div>
</div>
<form [formGroup]="editrsvp" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title class="mattitle">
    {{ addScreen ? "Add Guest" : "Edit Guest" }}
  </h1>
  <div>
    <div class="row" style="margin-top: 20px; width: 95%">
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="First Name"
            type="text"
            formControlName="firstName"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Last Name"
            type="text"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Email"
            type="text"
            required
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Company"
            type="text"
            formControlName="company"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Category"
            type="text"
            formControlName="category"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Data 1"
            type="text"
            formControlName="data1"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Data 2"
            type="text"
            formControlName="data2"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Data 3"
            type="text"
            formControlName="data3"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Data 4"
            type="text"
            formControlName="data4"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Data 5"
            type="text"
            formControlName="data5"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <mat-label>CheckedIn</mat-label>
          <mat-select required formControlName="checkedIn">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="center">
    <button type="submit" class="btn btn-info mr-1">
      {{ addScreen ? "Add" : "Update" }}
    </button>
    <button mat-dialog-close type="button" class="btn cancel-button">
      Close
    </button>
  </mat-dialog-actions>
</form>
