.banner {
    width: 100%;
    content: url("../../assets/images/WebBannerDesktop_970x250-27Apr@3x.png");
  
    @media (max-width: 576px) {
      content: url("../../assets/images/WebBannerMobile_414x414-27Apr@3x.png");
    }
  }


  // input[type="radio"] + label {
  //   //margin-left: 2px;
  //   display: inline-block !important;

  //   // margin-top: -16px;
  //   }

  .radioSpace{
      padding-left: 5px;
      margin-bottom: 0;

      @media (max-width: 576px) {
        padding-left: 2px;
    }
  }

  .radioSpace{
  }

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
    padding-bottom: 10px;

}

.multiselect-dropdown .dropdown-btn {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid gray !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding-bottom: 10px !important;
    opacity: 0.8 !important;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.9) !important;
}

/* 
input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:2px solid #AC53A0;
    outline:none;
    float: left;
    clear: none;
    margin-top: 0;
} */

/* input[type='checkbox']:before {
    content:'\2713';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
}
input[type='checkbox']:checked:before {
    background:#AC53A0;
} */

/* 
input[type='checkbox']:before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

input[type='checkbox']:checked:before {
    border: 2px solid #34495E;
} */

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    margin:revert;
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border:2px solid #AC53A0;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    /* background-color: #41B883; */
    cursor: pointer;
  }

.checkbox > input:checked {
    border:2px solid #AC53A0;
    /* background-color: #34495E; */
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #AC53A0;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox > input:active {
    border:2px solid #AC53A0;
}


.box {
    width: 100%;
    background-color:#C74A4A;
    color: #fff;
    padding: 5px;
    position: relative;
    border-radius: 4px;

  }
  
  .box.arrow-top {
    margin-top: 20px;
  }
  
  .box.arrow-top:after {
    content: " ";
    position: absolute;
    left: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #C74A4A;
  }

  input::-webkit-input-placeholder {
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}
  
.notice_title {
    font-weight: bold;
    color: #406d76;
    margin-top: 8px;
    /* margin: 0; */
}

.chkbrand{
    @media (max-width: 576px){
        display: block;
    }
}

#privacy_notice {
    max-height: 220px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 8px;
    /* font-size: smaller; */
}

.pdflink{
    font-family: Arial;
    color: #444444;
    opacity: 0.9;
    padding: 0;
    text-decoration: underline;
    display: inline;    
  }