<div class="container">  
  <div class="row">
    <div class="col-12 item" [routerLink]="['agenda']" >
      <img
        width="50px"
        src="../../assets/images/icon/untitled.svg+xml.png"
      />
      Agenda
    </div>
    <div class="col-12 item" [routerLink]="['floor-plan']" >
      <img
        width="50px"
        src="../../assets/images/icon/untitled.svg+xml-2.png"
      />
      Floor Plan
    </div>
    <div class="col-12 item" [routerLink]="['booth']">
        <img
          width="50px"
          src="../../assets/images/icon/store-svgrepo-com.svg"
        />
        Booth Activities
      </div>
      <div class="col-12 item" [routerLink]="['my-qr']">
        <img
          width="50px"
          src="../../assets/images/icon/qr-code-svgrepo-com.svg"
        />
        My QR
      </div>
  </div>
  <footer style="text-align:center;padding-top:20px">
    Version 1.1.2
  </footer>
  </div>  
