<div class="row" style="padding-bottom: 15px">
  <div class="col-12">
    <div style="font-size: xx-large">Booth Interaction</div>
  </div>
</div>

<div *ngIf="user && message">
  <div class="row" style="padding-top: 40px">
    <div class="col-1"></div>
    <div
      class="col-10 text-center"
      style="border: solid black 1px; padding: 30px; font-size: large"
    >
      <img
        *ngIf="message != 'Play Successfully.'"
        style="padding-right: 15px"
        width="50px"
        src="../../assets/images/icon/error-svgrepo-com.svg"
      />
      <img
        *ngIf="message == 'Play Successfully.'"
        style="padding-right: 15px"
        width="50px"
        src="../../assets/images/icon/success-svgrepo-com.svg"
      />
      {{ message }}
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row" style="padding-top: 60px">
    <div class="col-12 text-center">
      <button
        style="background-color: #73bad7; width: 150px; color: white"
        class="btn"
        (click)="done()"
      >
        Done
      </button>
    </div>
  </div>
</div>

<!-- <div *ngIf="user && !userBooth"> -->
<div *ngIf="user && !userBooth && !message">
  <div>Remaining chances :</div>
  <div *ngFor="let userBooth of user.userBooths; let i = index">
    <div *ngIf="userBooth.chancesTotal > 0">
      <div class="row" style="padding-bottom: 10px; padding-top: 10px">
        <div class="col-7" style="align-self: center">
          {{ userBooth.boothName }} : {{ userBooth.chancesLeft }}
        </div>
        <div class="col-5">
          <button
            (click)="play(userBooth)"
            style="background-color: #73bad7; width: 100%; color: white"
            class="btn"
            *ngIf="userBooth.chancesLeft > 0"
          >
            Play
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 40px">
    <div class="col-12 .offset-0 col-md-9 offset-md-2">
      <p>
        Need extra chances? Every donation of SGDXX will let you earn 1 extra
        chance!
        <br />
        <i style="font-size: small"
          >(Please show the donation receipt to booth master to exchange
          phyiscal ticket)</i
        >
      </p>
    </div>
  </div>
  <div class="row text-center" style="padding-top: 10px">
    <div class="col-12 .offset-0 col-md-6 offset-md-3">
      <button
        [routerLink]="['../donation']"
        style="
          background-color: white;
          width: 100%;
          color: black;
          border: solid 2px #73bad7;
          height: 60px;
        "
        class="btn"
      >
        Donate Now
      </button>
    </div>
  </div>
</div>

<div *ngIf="user && userBooth && !message">
  <div>Booth {{ userBooth.boothNum }}</div>
  <div>Remaing Chances : {{ userBooth.chancesLeft }}</div>
  <br />
  <div style="border: solid 1px black; padding: 10px">
    This will cost you 1 chance to participate!
  </div>
  <br />
  <div>If confirm, please pass to booth staff to key in 4 digit code.</div>
  <br />
  <div style="text-align: center">
    <ng-otp-input
      (onInputChange)="onOtpChange($event)"
      [config]="{ length: 4, allowNumbersOnly: true }"
    ></ng-otp-input>
  </div>
  <div style="padding-bottom: 15px; padding-top: 40px; text-align: center">
    <button
      (click)="cancel()"
      class="btn btn-danger"
      style="width: 120px; margin-right: 20px"
    >
      Cancel
    </button>
    <button class="btn btn-success" (click)="confirm()" style="width: 120px">
      Confirm
    </button>
  </div>
</div>
