<div class="mainpage">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 py-3">
        <div style="font-size: x-large">Booth Setup</div>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <button
          style="margin-left: 15px"
          class="btn btn-success btn-sm float-right"
          (click)="add()"
        >
          <mat-icon inline="true">add</mat-icon>
          Add
        </button>
      </div>
    </div>
    <div style="padding-top: 20px">
      <div class="col-12" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="boothNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Number</b></th>
            <td mat-cell *matCellDef="let row">{{ row.boothNum }}</td>
          </ng-container>
          <ng-container matColumnDef="secretDigit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Secret Digit</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.secretDigit }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Status</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.status == 1 ? "Open" : "Closed" }}</td>
          </ng-container>
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                style="color: #6c757d"
                (click)="edit(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
