<div class="mainbackground">
    <div class="content">
        <div class="row">
            <div class="col-12" class="title">
                YESTERDAY'S IMPOSSIBLE
            </div>
        </div>
        <div class="row" style="padding-bottom:20px;">
            <div class="col-12" class="title1-2">
                <label style="color: #460182;">IS TOMORROW'S&nbsp;</label>
                <label style="color: #E0AB00;">REALITY</label>
            </div>
        </div>
        <div class="row" style="padding-bottom:30px;">
            <div class="col-12" class="title2">
                APMA CRM Summit <br />
                July 6-7, 2021
            </div>
        </div>
        <div class="row" style="padding-bottom:30px;">
            <div class="col-12" class="title3">
                14:00-18:00 SGN (08:00-12:00 CEST)
            </div>
        </div>

        <div class="row" style="padding-bottom:20px;">
            <input type="image" src="../../assets/images/button.png" [routerLink]="['/registration']" name="submit"
                width="180" height="50" alt="submit" />
        </div>
    </div>
</div>
<div class="footer">
    <div class="footerspace">
        <img src="./assets/images/Logo.png" class="footerimage">
    </div>
</div>