<div class="mainbackground">
  <div class="content">
    <div class="row text-center topLogoContent">
      <div class="col-12">
        <img class="topLogoImage" />
      </div>
    </div>
    <div class="rightLogo">
      <img
        class="rightLogoImage"
        src="../../assets/images/landing/desktop/Product_1920.png"
      />
    </div>
    <div class="row" style="padding-top: 30px; padding-bottom: 20px">
      <div class="col-sm-0 col-md-3 col-lg-2 col-xl-3"></div>
      <div class="col-sm-12 col-md-9 col-lg-10 col-xl-9">
        <div class="row">
          <div class="col-12">
            <div class="title">
              CENTURION<sup>&reg;</sup> Active Sentry<sup>&reg;</sup>
            </div>
            <div class="title">Official Launch Event</div>
            <br />
            <div class="title1">
              Date &nbsp; &nbsp; &nbsp; &nbsp; 11 May 2022, Wednesday
            </div>
            <div class="title1">
              Time &nbsp; &nbsp; &nbsp; &nbsp; 6.30pm – 9.00pm
            </div>
            <div class="title1">
              Venue &nbsp; &nbsp;&nbsp; The Pavilion, Level 4
              <br />
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              Conrad Centennial Singapore
            </div>
            <br />
            <div>
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <input class="submitButton"
                type="image"
                src="../../assets/images/landing/desktop/RSVP_button_1920.png"
                [routerLink]="['/registration']"
                name="submit"
                alt="submit"
              />
            </div>
          </div>
        </div>
        <!-- <div class="row" style="padding-top: 30px">
          <div class="col-1"></div>
          <div class="col-11">
            <input
              type="image"
              src="../../assets/images/landing/desktop/RSVP_button_1920.png"
              [routerLink]="['/registration']"
              name="submit"
              width="180"
              alt="submit"
            />
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footerspace">
    <img
      src="../../assets/images//landing/desktop/Alcon_logo_1920.png"
      class="footerimage"
    />
  </div>
</div>
