
.mainbackground3 {
  width: 100%;
  // border: 1px solid #B21807;
  // padding-top: 80px;
  padding-bottom: 30px;
  content: url("../../assets/images/UBS\ optimus\ flood\ page.png");

//   @media (max-width: 575px) {
//     content: url("../../assets/images/Mobile-414x816-27Apr@3x.png");
//     // content: url("../../assets/images/landing/mobile/mobile_full_414.png");
//     // background-image: url("../../assets/images/landing/mobile/mobile_full_414.png");

//   }
}

// .mainbackground {
//   // background: rgb(185,8,3);
//   background-image: url("../../assets/images/landing/desktop/Background_1920.png");
//   // background-position: unset;
//   background-size: cover;
//   height: 100vh;
//   width: 100vw;
//   //    position: fixed; //for-canvas
//   position: absolute; //for-canvas
//   text-align: justify;
//   // font-size: 1.2rem
//   color: #3b6e8f;
//   font-family: "Open Sans", semi-bold;
//   font-weight: bold;

//   @media (max-width: 576px) {
//     background-image: url("../../assets/images/landing/mobile/Background_414.png");
//     // height: 85vh;
//     //width: 100vw;
//   }
// }

// .mainbackground2 {
//   background-image: url("../../assets/images/landing/desktop/Desktop-4K@3x.png");

//   // position: absolute;
//   // background-size: cover;
//   height: 100vh;
//   width: 100vw;

//   position: absolute;
//   // width:100%;
//   // height:100%;
//   background: black;
//   // background-image:url(../pictures/testjpg);
//   background-size: cover;
//   overflow-y: scroll;

//   @media (max-width: 575px) {
//     background-image: url("../../assets/images/landing/mobile/mobile_full_414.png");
//     // height: 85vh;
//     //width: 100vw;
//   }
// }



// .footer {
//   text-align: center;
//   position: fixed;

//   // position: absolute;
//   bottom: 0;
//   width: 100%;
//   // background-color: white;
//   // border-top: solid 5px;
//   // border-color: gray;
// }

// .footerspace {
//   padding-top: 25px;
//   padding-left: 55px;
//   padding-bottom: 20px;

//   @media (max-width: 576px) {
//     padding-top: 15px;
//     padding-left: 25px;
//     padding-bottom: 15px;
//   }
// }

// .footerimage {
//   height: 35px;

//   @media (max-width: 576px) {
//     height: 25px;
//   }
// }

// .content {
//   padding-left: 0%;
//   padding-top: 40px;

//   @media (max-width: 576px) {
//     padding-left: 5%;
//     padding-top: 20px;
//   }
// }

// .topLogoContent {
//   margin-left: -5%;
//   margin-top: -20px;

//   @media (max-width: 576px) {
//     margin-left: -10%;
//     margin-top: -10px;
//   }
// }

// .topLogoImage {
//   // width: 100%;
//   height: 120px;
//   content: url("../../assets/images/landing/desktop/Centurion_logo_1920.png");
//   padding-bottom: 50px;

//   @media (max-width: 576px) {
//     width: 95%;
//     height: auto;
//     padding-bottom: 5px;
//     // height: 70px;
//     content: url("../../assets/images/landing/mobile/Centurion_logo_414.png");
//   }
// }

// .rightLogo {
//   text-align: right;
//   //Big Screen
//   @media (min-width: 830px) {
//     right: 0;
//     position: absolute;
//   }
// }

// .rightLogoImage {
//   height: 500px;

//   // @media (min-width: 1920px) {
//   //   height: 700px;
//   // }

//   @media (max-width: 1280px) {
//     height: 400px;
//   }

//   @media (max-width: 576px) {
//     width: 90%;
//     height: auto;
//   }
// }

// .titlerow {
//   padding-top: 80px;
//   padding-bottom: 20px;
//   // padding-left: 30%;

//   @media (max-width: 576px) {
//     // font-size: 17.79pt;
//     padding-top: 30px;
//     // padding-left: 0%;
//     // margin: auto;
//     // width: 100%;
//   }
// }

// .title {
//   font-size: xx-large;

//   @media (max-width: 576px) {
//     // font-size: 17.79pt;
//     font-size: large;
//   }

//   // @media (max-height: 500px) {
//   //   // font-size: 17.79pt;
//   // }
// }

// .title1 {
//   // font-size: 12.64pt;
//   font-size: medium;
//   padding-bottom: 8px;

//   @media (max-width: 576px) {
//     font-size: small;
//   }
// }

// .submitButton {
//   padding-left: 50px;
//   width: 200px;

//   @media (max-width: 576px) {
//     width: 200px;
//   }
// }

// .row {
//   margin-right: 0px;
// }
