<div>
  <div class="mainbackground3" [routerLink]="['/login']"></div>
  
  <div>
  <div style="text-align: center">
    <button
      (click)="goPage()"
      class="btn"
      style="background-color: #e60100; width: 150px; color: white;margin-bottom: 10px;"
      >
      Let's Go
    </button>
  </div>
</div>

<!-- <div>
  <button
  (click)="goPage()"
    class="btn btn-danger"
    style="width: 150px; margin-right: 20px"
  >
    Let's Go
  </button>
</div> -->
<!-- <div>
  <input
    *ngIf="!isMobileLayout"
    class="mainbackground3"
    type="image"
    src="../../assets/images/Desktop-1920x1080-27Apr@3x.png"
    [routerLink]="['/registration']"
    name="submit"
    alt="submit"
  />
  <input
    *ngIf="isMobileLayout"
    class="mainbackground3"
    type="image"
    src="../../assets/images/Mobile-414x816-27Apr@3x.png"
    [routerLink]="['/registration']"
    name="submit"
    alt="submit"
  />
</div> -->

<!-- <div class="mainbackground">
  <div class="content">
    <div class="row text-center topLogoContent">
      <div class="col-12">
        <img class="topLogoImage" />
      </div>
    </div>
    <div class="rightLogo">
      <img
        class="rightLogoImage"
        src="../../assets/images/landing/desktop/Product_1920.png"
      />
    </div>
      <div class="row titlerow">
        <div class="col-1 col-md-3 col-lg-2 col-xl-3"></div>
        <div class="col-11 col-md-9 col-lg-10 col-xl-9">
          <div class="row">
            <div class="col-12">
              <div class="title">
                CENTURION<sup>&reg;</sup> Active Sentry<sup>&reg;</sup>
              </div>
              <div class="title">Official Launch Event</div>
              <br />
              <div class="title1">
                Date &nbsp; &nbsp; &nbsp; &nbsp; 11 May 2022, Wednesday
              </div>
              <div class="title1">
                Time &nbsp; &nbsp; &nbsp; &nbsp; 6.30pm – 9.00pm
              </div>
              <div class="title1">
                Venue &nbsp; &nbsp;&nbsp; The Pavilion, Level 4
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; Conrad Centennial Singapore
              </div>
              <br />
              <div>
                <input
                  class="submitButton"
                  type="image"
                  src="../../assets/images/landing/desktop/RSVP_button_1920.png"
                  [routerLink]="['/registration']"
                  name="submit"
                  alt="submit"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footerspace">
      <img
        src="../../assets/images//landing/desktop/Alcon_logo_1920.png"
        class="footerimage"
      />
    </div>
  </footer> -->
