<div class="container">
  <div class="row" style="padding-bottom: 10px">
    <div class="col-12">
      <div style="font-size: large">Photo Gallery > UBS Photography</div>
    </div>
  </div>
  <div class="row text-center" style="padding-top: 15px">
    <div class="col-6 photoGallery">
      <img width="100%" src="../../assets/images/v1-0.jpeg" />
    </div>
    <div class="col-6 photoGallery">
      <img width="100%" src="../../assets/images/v2-0.jpeg" />
    </div>
    <div class="col-6 photoGallery">
      <img width="100%" src="../../assets/images/v3-0.jpeg" />
    </div>
    <div class="col-6 photoGallery">
      <img width="100%" src="../../assets/images/v4-0.jpeg" />
    </div>
    <div class="col-6 photoGallery">
        <img width="100%" src="../../assets/images/v5-0.jpeg" />
      </div>
      <div class="col-6 photoGallery">
        <img width="100%" src="../../assets/images/v6-0.jpeg" />
      </div>
      <div class="col-6 photoGallery">
        <img width="100%" src="../../assets/images/v7-0.jpeg" />
      </div>
      <div class="col-6 photoGallery">
        <img width="100%" src="../../assets/images/v6-2.jpeg" />
      </div>
  </div>
</div>
