<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="font-size: x-large">Onsite Statistic</div>
    </div>
    <div class="col-12 text-right">
      <button class="btn btn-secondary btn-sm float-right" (click)="download()">
        <mat-icon inline="true">get_app</mat-icon>
        Dowload
      </button>
    </div>

    <div class="col-md-12" *ngIf="summary">
      <div
        class="row"
        style="
          padding-top: 20px;
          padding-bottom: 10px;
          font-size: normal;
          font-weight: bold;
        "
      >
        <div class="col-7 col-md-2"></div>
        <!-- <div class="col-5 col-md-3 text-right">Total IN</div> -->
      </div>
      <div class="row" style="padding-bottom: 10px">
        <div class="col-9 col-md-4"><b>Total IN</b></div>
        <div class="col-3 col-md-4">
          {{ summary.totalIn }}
        </div>
      </div>
      <div
        class="row"
        style="
          padding-top: 30px;
          padding-bottom: 10px;
          font-size: large;
          font-weight: bold;
        "
      >
        <div class="col-9 col-md-4">Location</div>
      </div>
      <div
        class="row"
        style="padding-bottom: 10px"
        *ngFor="let record of summary.totalLocation; let i = index"
      >
        <div class="col-9 col-md-4">
          {{ record.location ? record.location : "NULL" }}
        </div>
        <div class="col-3 col-md-4">
          {{ record.totalIn }}
           <!-- / {{ record.totalOut }} /
          {{ record.totalLive }} -->
        </div>
      </div>
    </div>
  </div>
</div>
