<div
  *ngIf="isAdminPage && isAdminLoggedIn"
  style="border-bottom: 1px solid black; margin-bottom: 20px"
>
  <mat-toolbar class="mat-admin-toolbar" color="primary">
    <span style="color: white">Hi, {{ admin.name }}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="logoutadmin()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-toolbar>
  <div
    style="padding: 10px"
    [routerLink]="['/admin']"
    *ngIf="router.url !== '/admin'"
  >
    <img width="30px" src="../assets/images/icon/home-page.png" />
  </div>
</div>

<div *ngIf="isEventPage && isUserLoggedIn">
  <img
    src="../assets/images/UBS - Optimus - App 051219 - Mashead.png"
    width="100%"
  />

  <!-- <mat-toolbar class="mat-user-toolbar">
    <small>Hi {{ user.email }}</small>
    <span class="example-spacer"></span>
    <button mat-button (click)="logoutuser()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-toolbar> -->
  <marquee
    style="
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
  >
    {{setting ? setting.annoucement: ""}}
  </marquee>
  <div
    style="padding: 10px"
    [routerLink]="['/event']"
    *ngIf="router.url !== '/event'"
  >
    <img width="30px" src="../assets/images/icon/home-page.png" />
  </div>
</div>

<div class="main-content">
  <div class="loading-shade" *ngIf="isLoading">
    <div
      class="col s12"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      "
    >
      <span>
        <mat-spinner
          [diameter]="50"
          mode="indeterminate"
          color="#B21807"
        ></mat-spinner>
      </span>
    </div>
  </div>

  <div *ngIf="isAdminPage">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!isAdminPage">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
