@import '~src/assets/scss/_variables';

.mat-toolbar {
  background: #ee6e73;
  color: #fff;
  height: 50px !important;
}

// .mat-sidenav {
//   width: 20%;

//   box-shadow: none;

//   @media (max-width: 576px){
//   width: 50%;
//   }
// }

// .main-content {
//   padding-left: 4%;
//   padding-right: 4%;
//   padding-bottom: 50px;
// }

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}