<div class="loading-shade" *ngIf="isLoading">
  <div
    class="col s12"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    "
  >
    <span>
      <mat-spinner [diameter]="32" mode="indeterminate"></mat-spinner>
    </span>
  </div>
</div>
<form [formGroup]="editrsvp" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title class="mattitle">Edit User</h1>
  <div mat-dialog-content class="matbody">
    <div class="row" style="margin-bottom: 10px">
      <!-- <div class="col-12">
        <mat-form-field style="width: 100%;">
            <mat-label>Attending</mat-label>
            <mat-select formControlName="attending">
                <mat-option value="0">Physical</mat-option>
                <mat-option value="1">Virtually</mat-option>
            </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Name*"
            type="text"
            maxlength="50"
            required
            formControlName="name"
          />
          <mat-error
            *ngIf="editrsvp.controls.name.hasError('letterAndNumberSpaceOnly')"
            >Only alphanumeric is allowed.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Staff ID*"
            type="text"
            maxlength="50"
            required
            formControlName="staffId"
          />
          <mat-error
            *ngIf="
              editrsvp.controls.staffId.hasError('letterAndNumberSpaceOnly')
            "
            >Only alphanumeric is allowed.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Email*"
            type="text"
            maxlength="50"
            required
            formControlName="email"
          />
          <mat-error *ngIf="editrsvp.controls.email.hasError('email')"
            >Only Email Format is allowed.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <mat-label>Attended*</mat-label>
          <mat-select formControlName="userAttend">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="center">
    <button type="submit" class="btn btn-info mr-1">Update</button>
    <button mat-dialog-close type="button" class="btn cancel-button">
      Close
    </button>
  </mat-dialog-actions>
</form>
