<div class="container">

<div class="row">
  <div class="col-12 item" [routerLink]="['scan-qr']">
    <img width="50px" src="../../assets/images/icon/qr-code-svgrepo-com.svg" />
    Scan QR
  </div>
  <div class="col-12 item" [routerLink]="['guest-list']">
    <img
      width="50px"
      src="../../../assets/images/icon/search-svgrepo-com.svg"
    />
    Guest List
  </div>
  <div class="col-12 item" [routerLink]="['stat']">
    <img width="50px" src="../../../assets/images/icon/statistics-svgrepo-com.svg" />
    STAT
  </div>
  <div class="col-12 item" [routerLink]="['booth-setup']">
    <img width="50px" src="../../../assets/images/icon/store-svgrepo-com.svg" />
    Booth
  </div>
</div>
</div>
<footer style="text-align:center;padding-top:20px">
  Version 1.0.3
</footer>