<div class="container">
  <div class="row header">
    <div class="col-4 pr-0">Time</div>
    <div class="col-8">Agenda</div>
  </div>
  <div class="newitem" style="padding-top: 10px">
    <div class="row item">
      <div class="col-4 pr-0">1:00 PM</div>
      <div class="col-8">Emcee Opening Speech</div>
    </div>
    <!-- <div class="row">
      <div class="col-3"></div>
      <div class="col-9 description">Description</div>
    </div> -->
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">2:00 PM</div>
      <div class="col-8">Opening Ceremony with Amol Gupte</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">2:15 PM</div>
      <div class="col-8">Cheque Presentation to ChildAid</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">2:30 PM</div>
      <div class="col-8">Carnival Tour for Amol, Peter, CMC and ChildAid Reps</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">2:30 PM</div>
      <div class="col-8">Band Performance Set 1</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">3:45 PM</div>
      <div class="col-8">Band Performance Set 2</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">4:45 PM</div>
      <div class="col-8">Closing Speech by Emcee</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-4 pr-0">5:00 PM</div>
      <div class="col-8">End of Event</div>
    </div>
  </div>
</div>
