<div class="container">
  <div class="row header">
    <div class="col-5 pr-0">Time</div>
    <div class="col-7">Agenda</div>
  </div>
  <div class="newitem" style="padding-top: 10px">
    <div class="row item">
      <div class="col-5 pr-0">1:00 PM - 1.05 PM</div>
      <div class="col-7">Emcee Opening Speech</div>
    </div>
    <!-- <div class="row">
      <div class="col-3"></div>
      <div class="col-9 description">Description</div>
    </div> -->
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">1:05 PM - 2.00 PM</div>
      <div class="col-7">Background Music</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">2:00 PM - 2:15 PM</div>
      <div class="col-7">Amol's Opening Speech</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">2:15 PM - 2:30 PM</div>
      <div class="col-7">Cheque Presentation to ChildAid</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">2:30 PM - 3:15 PM</div>
      <div class="col-7">Band Performance Set 1</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">3:15 PM - 3:45 PM</div>
      <div class="col-7">Background Music</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">3:45 PM - 4:30 PM</div>
      <div class="col-7">Band Performance Set 2</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">4:30 PM - 4:45 PM</div>
      <div class="col-7">Background Music</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">4:45 PM - 5:00 PM</div>
      <div class="col-7">Closing Speech by Emcee</div>
    </div>
  </div>
  <div class="newitem">
    <div class="row item">
      <div class="col-5 pr-0">5:00 PM</div>
      <div class="col-7">End of Event</div>
    </div>
  </div>
</div>
