<div class="container">
<div class="row header">
  <div class="col-3">Time</div>
  <div class="col-9">Agenda</div>
</div>
<div class="newitem">
  <div class="row item">
    <div class="col-3">6.30pm</div>
    <div class="col-9 pl-0"><b>Cocktail Reception</b></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9 description">Description</div>
  </div>
</div>
<div class="newitem">
  <div class="row item">
    <div class="col-3">7.00pm</div>
    <div class="col-9 pl-0"><b>Cocktail Reception</b></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9 description">Description</div>
  </div>
</div>
</div>