<!-- <div style="font-size: x-large; padding-left: 20px">Scan QR</div>
<br />
<div *ngIf="!scanned">
  <div class="text-center" style="border: 7px solid black; border-bottom: 0">
    <div style="background-color: black !important">
      <zxing-scanner
        [previewFitMode]="'fill'"
        (scanSuccess)="onCodeResult($event)"
        [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
      ></zxing-scanner>
    </div>
  </div>
  <div class="text-center">
    <div>
      <br />
      <button
        [routerLink]="['/admin']"
        class="btn btn-danger"
        style="width: 150px; margin-right: 20px"
      >
        Cancel
      </button>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="font-size: x-large">Scan QR</div>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-12">
      <select
        [(ngModel)]="selectedConfig"
        class="form-control"
        placeholder="Category"
        (change)="selectConfig()"

      >
        <option value="" disabled>Select Location</option>
        <option [ngValue]="config.name" *ngFor="let config of configs">
          {{ config.name }}
        </option>
      </select>
    </div>
  </div>
  <br />
  <div class="row text-center" *ngIf="selectedConfig">
    <div class="col-12">
      <button
        class="btn btn-info btn-sm"
        style="width: 200px;padding-right: 15px;"
        (click)="counting()"
      >
        Update
      </button>
      Count : {{count ? count : '-'}}

    </div>
  </div>
  <br />
  <div *ngIf="selectedConfig != '' && !scanned">
    <div class="row text-center">
      <div class="col-0 col-md-2"></div>
      <div
        class="col-12 col-md-8"
        style="
          border: 7px solid black;
          border-bottom: 0;
          background-color: black !important;
        "
      >
        <zxing-scanner
          [previewFitMode]="'fill'"
          (scanSuccess)="onCodeResult($event)"
          [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
        ></zxing-scanner>
      </div>
    </div>
    <!-- <div class="row text-center">
      <div class="col-0 col-md-2"></div>
      <div class="col-12 col-md-8">
        <br />
        <button
          [routerLink]="['/admin']"
          class="btn btn-danger"
          style="width: 150px; margin-right: 20px"
        >
          Cancel
        </button>
      </div>
    </div> -->
  </div>

  <div *ngIf="scanned" class="row text-center">
    <div
      class="col-12"
      style="font-size: x-large; padding-top: 80px; color: green"
    >
      Scan success
    </div>
  </div>
</div>