<!-- <div style="font-size: x-large; padding-left: 20px">Scan QR</div>
<br />
<div *ngIf="!scanned">
  <div class="text-center" style="border: 7px solid black; border-bottom: 0">
    <div style="background-color: black !important">
      <zxing-scanner
        [previewFitMode]="'fill'"
        (scanSuccess)="onCodeResult($event)"
        [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
      ></zxing-scanner>
    </div>
  </div>
  <div class="text-center">
    <div>
      <br />
      <button
        [routerLink]="['/admin']"
        class="btn btn-danger"
        style="width: 150px; margin-right: 20px"
      >
        Cancel
      </button>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="font-size: x-large">Scan QR</div>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-12">
      <select
        [(ngModel)]="selectedConfig"
        class="form-control"
        placeholder="Category"
        (change)="selectConfig()"
      >
        <option value="" disabled>Select Location</option>
        <option [ngValue]="config.name" *ngFor="let config of configs">
          {{ config.name }}
        </option>
      </select>
    </div>
  </div>
  <br />
  <div class="row text-center" *ngIf="selectedConfig">
    <div class="col-6">
      <button
        class="btn btn"
        [ngStyle]="{
          width: '100%',
          height: '40px',
          color: 'black',
          'background-color': selectedEntry == 'IN' ? '#54C571' : '#EAFFFB'
        }"
        (click)="entry('IN')"
      >
        IN
      </button>
    </div>
    <div class="col-6">
      <button
        class="btn btn"
        [ngStyle]="{
          width: '100%',
          height: '40px',
          color: 'black',
          'background-color': selectedEntry == 'OUT' ? '#F597B2' : '#F3E8EA'
        }"
        (click)="entry('OUT')"
      >
        OUT
      </button>
    </div>
  </div>

  <br />
  <div *ngIf="selectedEntry != '' && !scanned">
    <div class="row text-center">
      <div class="col-0 col-md-2"></div>
      <div
        class="col-12 col-md-8"
        style="
          border: 7px solid black;
          border-bottom: 0;
          background-color: black !important;
        "
      >
        <zxing-scanner
          [previewFitMode]="'fill'"
          (scanSuccess)="onCodeResult($event)"
          [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
        ></zxing-scanner>
      </div>
    </div>
    <!-- <div class="row text-center">
      <div class="col-0 col-md-2"></div>
      <div class="col-12 col-md-8">
        <br />
        <button
          [routerLink]="['/admin']"
          class="btn btn-danger"
          style="width: 150px; margin-right: 20px"
        >
          Cancel
        </button>
      </div>
    </div> -->
  </div>
  <br />
  <div class="row text-center" *ngIf="selectedConfig">
    <div class="col-12">
      <button
        class="btn btn-info btn-sm"
        style="width: 200px; margin-right: 20px"
        (click)="counting()"
      >
        Get Count
      </button>
      Live : {{ count }}
    </div>
  </div>

  <div *ngIf="scanned" class="row text-center">
    <div
      *ngIf="!msg"
      class="col-12"
      style="font-size: x-large; padding-top: 80px; color: green"
    >
      Scan success for
      <span
        [ngStyle]="{
          color: selectedEntry == 'OUT' ? '#F597B2' : '#54C571'
        }"
      >
        {{ selectedEntry }}
      </span>

      , {{ selectedConfig }}
    </div>
    <div
      *ngIf="msg"
      class="col-12"
      style="font-size: x-large; padding-top: 80px; color: red"
    >
      {{ msg }}
    </div>
  </div>
</div>
