<div class="row">
  <div class="col-12">
    <div style="font-size: xx-large">Scan QR</div>
  </div>
</div>
<br />
<div *ngIf="!scanned">
  <div class="row text-center">
    <div class="col-12 col-md-9">
      <zxing-scanner
        class="small-video"
        [previewFitMode]="'fill'"
        (scanSuccess)="onCodeResult($event)"
        [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
      ></zxing-scanner>
      <br />
      <button
      [routerLink]="['/admin']"
      class="btn btn-danger"
      style="width: 150px; margin-right: 20px"
    >
      Cancel
    </button>
    </div>
  </div>
</div>


<!-- <div *ngIf="scanned">
    <div *ngIf="errormsg">
        <div class="row" style="padding-top:350px;padding-bottom: 10px">
            <div class="col-12">
                <h1 class="checkedintext text-center" style=font-size:50px>
                    {{errormsg}}
                </h1>
            </div>
        </div>
    </div>
</div> -->
