.container{
    // font-size: 1.2rem;
    color: #444444;
    //  font-family: helvetica;
     font-family: Arial;

    @media (max-width: 576px){
        // font-size:0.9em;
    }
}

p{
    margin-bottom: 30px;
}

.banner {
    width: 100%;
    content: url("../../assets/images/WebBannerDesktop_970x250-27Apr@3x.png");
  
    @media (max-width: 576px) {
      content: url("../../assets/images/WebBannerMobile_414x414-27Apr@3x.png");
    }
  }
