.container{
    // font-size: 1.2rem;
    color: #444444;
    //  font-family: helvetica;
     font-family: Arial;

    @media (max-width: 576px){
        // font-size:0.9em;
    }
}

p{
    margin-bottom: 30px;
}