<div class="container">
    <div class="row" style="padding-bottom:30px;">
        <div class="col-0 col-md-1 col-lg-2">
        </div>
        <div class="col-12 col-md-10 col-lg-8">
            <img src="./assets/images/20210519_APMA_CRM_landing_v2-banner(desktop).png" style="width:100%">
        </div>
        <div class="col-0 col-md-1 col-lg-2">

        </div>
    </div>
    <div class="row" style="padding-bottom:18px;">
        <div class="col-0 col-md-1 col-lg-2">
        </div>
        <div class="col-12 col-md-10 col-lg-7">
            <p><b>Your registration has been submitted!</b>
            </p>
            <p>
                We are delighted that you will join us at the <b>APMA CRM Summit 2021 on
                    July 6–7, 2021.</b>
            </p>
            <p style="text-align: center;">
                <b>YESTERDAY’S IMPOSSIBLE IS TOMORROW’S REALITY</b>
            </p>
            <p>These two dynamic and thought-provoking meeting days will provide you with opportunities to learn more
                about the APMA CRM vision as well as how performing today will enable us as a Region to transform
                tomorrow the lives of patients with ASCVD and rare kidney diseases.</p>
            <p>A confirmation email has now been sent to the email address you have
                provided.</p>
            <p>We are looking forward to seeing you soon virtually!
            </p>
            <p>
                With kind regards,<br />
                Sent on behalf of the APMA CRM Summit 2021 organization team</p>

        </div>
        <div class="col-0 col-md-1 col-lg-2">

        </div>
    </div>



    <!-- <div class="container" style="font-family:Arial;color: #444444;opacity: 0.9;">
    <div class="row">
        <div class="col-0 col-md-1 col-lg-3">
        </div>
        <div class="col-12 col-md-10 col-lg-6">
            <img src="./assets/images/Appis_logo_selected-01.png" style="width:100%">
        </div>
        <div class="col-0 col-md-1 col-lg-3">

        </div>
    </div>

    <div class="row" style="padding-bottom:18px;">
        <div class="col-0 col-md-1 col-lg-3">
        </div>
        <div class="col-12 col-md-10 col-lg-6" style="text-align:center">
            <p>Thank you for your RSVP to APPIS 2021.
            </p>
            <p>
                Confirmation of your registration will be sent via email.
            </p>
            <p>
                Should you have any questions, please contact info@appis2021.com.

            </p>
        </div>
        <div class="col-0 col-md-1 col-lg-2">

        </div>
    </div> -->