<!-- <div class="main">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="text-center" style="padding-bottom:20px">
                    <h3>Change Password</h3>
                </div>
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="form-group">
                        <input type="password" id="oldpassword" class="form-control" minlength="3" formControlName="oldpassword"
                            required>
                        <label class="form-control-placeholder" for="oldpassword">Old Password*</label>
                    </div>
                    <div class="form-group">
                        <input type="password" id="newpassword" class="form-control" formControlName="newpassword"
                            required>
                        <label class="form-control-placeholder" for="newpassword">New Password*</label>
                    </div>

                    <div class="form-group">
                        <input type="password" id="confirmpassword" class="form-control" formControlName="confirmpassword"
                            required>
                        <label class="form-control-placeholder" for="confirmpassword">Confirm Password*</label>
                    </div>

                    <div class="text-center" style="padding-top:10px;">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> -->


<div class="loginbody">
    <div class="col-md-6 login-container" style="padding-top:20px">
        <div class="text-center" style="padding-bottom:30px">
            <h4 style="display:contents">Change Password</h4>
        </div>
        <div class="card">
            <div class="card-body" style="margin-top:30px">
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="form-group">
                        <input type="password" id="oldpassword" class="form-control myinput" minlength="3"
                            formControlName="oldpassword" required>
                        <label class="form-control-placeholder" for="oldpassword">Old Password*</label>
                    </div>
                    <div class="form-group">
                        <input type="password" id="newpassword" class="form-control myinput" formControlName="newpassword"
                            required>
                        <label class="form-control-placeholder" for="newpassword">New Password*</label>
                    </div>

                    <div class="form-group">
                        <input type="password" id="confirmpassword" class="form-control myinput" formControlName="confirmpassword"
                            required>
                        <label class="form-control-placeholder" for="confirmpassword">Confirm Password*</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>