<div class="container">
<div class="row">
  <div class="col-12">
    <div style="font-size: xx-large">Floor Plan</div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center floorplan">
    <img
    width="100%"
    src="../../assets/images/Hall 4A Floorplan_v3.jpg"
  />
  </div>
  <!-- <span class="hr"></span> -->
  <!-- <div class="col-12 text-center floorplan" style="border-top: 1px solid #ddd">
    <img
    width="100%"
    src="../../assets/images/WhatsApp Image 2022-06-06 at 11.53.29 PM.jpeg"
  />
  </div> -->
</div>
</div>  
