.floorplan{
    padding-top: 30px;
    padding-bottom: 30px;
}

.hr {
    color: #ddd;
    background-color: #ddd;
    height: 1px;
    border: none;
    max-width: 100%;
    /* border-top: 50px solid #8c8b8b; */
}