/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import '~src/assets/scss/_variables'; */

html, body { height: 100%; }
body { margin: 0; height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif; }

