<div class="mainpage">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 py-3">
        <div style="font-size: x-large">Guest List</div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select
            style="width: 120px; text-align: center"
            [(ngModel)]="filtertType"
          >
            <option value="name">Name</option>
            <option value="staffId">Staff ID</option>
            <option value="email">Email</option>
          </select>
          <input
            type="text"
            placeholder="Filter Text"
            class="form-control"
            [(ngModel)]="filterText"
          />
          <button
            class="btn btn-info btn-sm"
            style="width: 80px"
            (click)="filter()"
          >
            Filter
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <button
          style="margin-left: 15px"
          class="btn btn-secondary btn-sm float-right"
          (click)="download()"
        >
          <mat-icon inline="true">get_app</mat-icon>
          Dowload
        </button>
        <button
          style="margin-left: 15px"
          class="btn btn-warning btn-sm float-right"
          (click)="import()"
        >
          <mat-icon inline="true" >publish</mat-icon>
          Import
        </button>
        <button
          style="margin-left: 15px"
          class="btn btn-success btn-sm float-right"
          (click)="add()"
        >
          <mat-icon inline="true">add</mat-icon>
          Add
        </button>
      </div>
    </div>
    <div style="padding-top: 20px">
      <div class="col-12" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>#</b></th>
            <td mat-cell *matCellDef="let row">{{ row.num }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="staffId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Staff ID</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.staffId }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Email</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="userAvailable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Available</b>
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.userAvailable == 1 ? "Yes" : "No" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userAttend">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Attended</b>
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.userAttend == 1 ? "Yes" : "No" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="guestAvailable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Acc Person</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.guestAvailable }}</td>
          </ng-container>
          <ng-container matColumnDef="guestAttend">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Acc Attended</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.guestAttend }}</td>
          </ng-container>
          <ng-container matColumnDef="guestAbsent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Acc Absent</b>
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.guestAvailable - row.guestAttend }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                style="color: #6c757d"
                (click)="edit(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
