<div class="container-fluid">

<div class="mainpage">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 py-3">
        <div style="font-size: x-large">Guest List</div>
      </div>
      <div class="col-md-7">
        <div class="input-group">
          <!-- <select
            style="width: 120px; text-align: center"
            [(ngModel)]="filtertType"
          >
            <option value="name">Name</option>
            <option value="staffId">Staff ID</option>
            <option value="email">Email</option>
          </select> -->
          <input
            type="text"
            placeholder="Filter Email"
            class="form-control"
            [(ngModel)]="filterText"
          />
          <button
            class="btn btn-info btn-sm"
            style="width: 80px"
            (click)="filter()"
          >
            Filter
          </button>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            style="width: 80px; margin-left: 10px"
            (click)="reset()"
          >
            Reset
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <button
          style="margin-left: 15px"
          class="btn btn-secondary btn-sm float-right"
          (click)="download()"
        >
          <mat-icon inline="true">get_app</mat-icon>
          Dowload
        </button>
        <button
          style="margin-left: 15px"
          class="btn btn-warning btn-sm float-right"
          (click)="import()"
        >
          <mat-icon inline="true">publish</mat-icon>
          Import
        </button>
        <button
          style="margin-left: 15px"
          class="btn btn-success btn-sm float-right"
          (click)="add()"
        >
          <mat-icon inline="true">add</mat-icon>
          Add
        </button>
      </div>
    </div>
    <div style="padding-top: 20px">
      <div class="col-12" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>#</b></th>
            <td mat-cell *matCellDef="let row">{{ row.num }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>From</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.from }}</td>
          </ng-container>
          <ng-container matColumnDef="attending">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Attending</b>
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.attending == 1 ? "Yes" : "No" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Email</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Mobile</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.mobile }}</td>
          </ng-container>
          <ng-container matColumnDef="dietary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Dietary</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.dietary }}</td>
          </ng-container>
          <ng-container matColumnDef="covidStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Covid Status</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.covidStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="parking">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Parking</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.parking }}</td>
          </ng-container>
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                style="color: #6c757d"
                (click)="edit(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="row.userAvailable == 1 && !row.userAttend"
                style="margin-left: 10px"
                class="btn btn-success btn-sm"
                (click)="attend(row)"
              >
                Attend
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
</div>
