.mainpage{
    padding-left: 10px;
    padding-right: 10px;
    font-size: small
  }
  
    table {
        width: 100%;
    }

    td.mat-cell:last-of-type{
        padding-right: 5px;
    }
    
    /* .mat-column-Edit {
        width: 2%;
        text-align: right;
    } */
   